daemon={{ ddclient_daemon_period }}
syslog={{ ddclient_enable_syslog }}

use=web, web={{ ddclient_web }}
protocol={{ ddclient_protocol }}
server={{ ddclient_server }}
login={{ ddclient_login }}
password={{ ddclient_pass }}
{{ ddclient_updated_domain }}
